.home_bg{
    // background-color: #f7f6f2;
    background-image: linear-gradient(to right, #000000c4 40%, #00000000), url('../../../client/src/styles/images/landingbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .section1{
        padding: 0 1rem;
        p{
            text-align: justify;
            color: whitesmoke;
            font-size: 1rem;
            font-weight: bold;
            text-shadow: 0 0 1px black;
        }
        .bookAppointment_btn{
            border-radius: 30px;
            background-color: #6bcb77;
            word-spacing: 2px;
        }
    }
    .section2{
        .img_div{
            width: 500px;
            height: 500px;
            max-width: 600px;
            max-height: 600px;
            .bg{
            width: 100%;
            filter: drop-shadow(0 0 1rem #064635);
            }
        }
    }
}